<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test5 Result</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div th:replace="fragment/menu :: menu"></div>

    <br/>

    <h1>삼각형 가능성 결과</h1>
    <h2 th:text="${result}"></h2>
    <h3 th:text="'Slide1 : ' + ${triangle.slide1}"></h3>
    <h3 th:text="'Slide2 : ' + ${triangle.slide2}"></h3>
    <h3 th:text="'Slide3 : ' + ${triangle.slide3}"></h3>
</body>
</html>