<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test4</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div th:replace="fragment/menu :: menu"></div>

    <br/>

    <form action="/test4/submit" method="get">
        <label>Input First Number</label>
        <input type="text" class="form-control" id="firstNum" name="firstNum">

        <br/>

        <label>Input End Number</label>
        <input type="text" class="form-control" id="endNum" name="endNum">

        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>