<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TimeTable</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
    <div th:replace="fragment/menu :: menu"></div>

    <br/>

    <form action="/timetable/submit" method="get">
        <label>Input Number</label>
        <input type="text" class="form-control" id="num" name="num">

        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>