<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table, tr, td {
            border: 1px solid gray;
        }
    </style>

</head>
<body>
    <h1 th:text="'Welcome'"></h1>
    <a th:href="@{/add}">추가하기</a> <br/>
<!--    <a th:href="@{/list}">목록보기</a>-->

    <h1 th:text="'Result'"></h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tr th:each="item:${list}">
            <td>
                <a th:href="@{'/update/' + ${item.id}}">
                    <span th:text="${item.id}"></span>
                </a>
            </td>
            <td th:text="${item.name}"></td>
        </tr>
    </table>
</body>
</html>